<div id="productContainer">
        <div class="photoMargin">
            <div class="welcomeTitle">利率升势滔滔，收益水涨船高。</div>
            <div class="swip-container-3d" style="margin-top: 10%">
                <div hx-swipe-wrapper centerfun="onSwipe(index);" class="swip-wrapper-3d" use3d swheight="260" style="text-align: center">
                    <div hx-swipe-slide index="$index" class="swip-slide-3d" ng-repeat="product in productShowDatas"
                         id="{{product.ProductName}}">
                        <a id="{{product.index}}">
                            <img ng-src="{{product.imgUrl}}" ng-click="chooseProduct(product)" class="productDisImg"/>
                        </a>
                    </div>
                </div>
            </div>
            <div>
                <h3 class="selectTitle">{{nowProduct.ProductName}}</h3>
            </div>
        </div>
</div>

