<ion-content class="has-header">
<div class="pDtl" id="productDetail">
    <ion-scroll class="height100P pad30" direction="y">
        <div class="row col-900px levelCenter height100P shadow">
            <div class="col" >
                <!--图片及名称***********************-->
                <div class="row row-center height230 bgf3f3f3">
                    <div class="col">
                        <img ng-src="{{applyData.SignProduct.imgUrl}}" class="pImg" >
                    </div>
                    <div class="col">
                        <div class="row">
                            <div class="col pName">{{applyData.SignProduct.ProductName}}</div>
                        </div>
                        <div class="row">
                            <div class="col pRang">世界上最好的书——你自己的存折。</div>
                        </div>
                        <div class="row">
                            <div class="col col-17px"></div>
                            <div class="col">
                                <button class="button button-outline aplBtn col-180px" ng-click="productBusDeal()">
                                    申请
                                </button>
                            </div>
                        </div>

                    </div>
                </div>
                <!--特色功能及服务********************-->
                <div class="row row-bottom height50">
                    <div class="col lineTitle">特色功能及服务</div>
                </div>
                <div class="row">
                    <div class="col">
                        <div ng-bind-html="applyData.SignProduct.ProductIntroduce"></div>
                    </div>
                </div>

            </div>
        </div>
    </ion-scroll>
</div>
</ion-content>