<ion-view title="澳洲联邦银行">
    <ion-content class="has-backgroud-abc" scroll="false">
        <ion-slide-box auto-play="true" slide-interval="5000"
                       does-continue="true">
            <ion-slide ng-repeat="slide in slides">
                <img ng-src="{{_serverURL+slide.img}}" style="width: 100%;height: 280px" ng-show="!isHide">
            </ion-slide>
        </ion-slide-box>
        <div class="animated opacity-abc" ng-class="animate"
             on-swipe-left="nextCard()">
            <div class="row card-abc">
                <div class="col col-33 card-image-abc">
                    <img ng-src="{{card.imgUrl}}">
                    <br> <br>
                    &nbsp; &nbsp; &nbsp; &nbsp;
                    <button class="button button-energized icon-left ion-card" ng-click="toApply(card)">申请
                    </button>
                    &nbsp; &nbsp; &nbsp; &nbsp;
                    <button style="color: #ea5900"
                            class="button button-dark button-outline  icon-left ion-ios7-fastforward-outline"
                            ng-click="nextCard()">
                        换一张
                    </button>
                </div>
                <div class="col col-67 card-content-abc">
                    <div style="border: 0">
                        <h3 style="text-align: center">
                            {{card.ProductName}}
                        </h3>
                    </div>
                    <div ng-bind-html="card.ProductIntroduce"></div>
                </div>
            </div>
        </div>
    </ion-content>


</ion-view>