.swip-container {
	margin:0 auto;
	position:relative;
	overflow:hidden;
}

.swip-wrapper {
	position:relative;
}

.swip-slide {
	float: left;
	/*border: red 1px solid;*/
}

.swip-container-3d {
	margin:0 auto;
	position:relative;
	overflow:hidden;

	perspective: 1200px;
	-webkit-perspective: 1200px;
}
.swip-wrapper-3d {
	position:relative;
	transform-style: preserve-3d;
	-webkit-transform-style: preserve-3d;
}

.swip-slide-3d {
	float: left;
	/*border: red 1px solid;*/
}