<ion-view title="本地客户信息" ng-init="initData()">
<div class="card wrapper" style="margin-top: 50px">
    <div class="button-bar col-50">
        <div class="row">
            <a class="button " ng-click="chose=0" ng-class="{'button-calm':chose==0}">等待审批 <span class="badge" style="background-color: #6ee102">{{num.unApprove}}</span></a>
            <a class="button " ng-click="chose=1" ng-class="{'button-calm':chose==1}">审批未通过<span class="badge" style="background-color: #6ee102">{{num.unPassApprove}}</span></a>
            <a class="button " ng-click="chose=2" ng-class="{'button-calm':chose==2}">审批通过<span class="badge" style="background-color: #6ee102">{{num.approve}}</span></a>
        </div>
    </div>
    <div class="item item-text-wrap">
    <!--等待审批-->
        <ion-scroll direction="y" ng-if="chose==0" style="height: 70vh" class="has-backgroud-abc">
                <ion-list class="item-thumbnail-left opacity-abc">
                    <ion-item ng-show="data.isRefreshing">
                        <h1>
                            <i class="ion-loading-a"></i>
                        </h1>
                    </ion-item>
                    <ion-item ng-repeat="item in unApproveItems |orderBy:'CapplyTime':false" ng-show="!data.isRefreshing"
                              id="{{item.CapplyTime}}" class="progressBar">
                        <img ng-src="{{defaultPhotoData}}" class="opacity-abc"
                             style="max-width: 100px;max-height: 100px;" ng-if="!item.Uphotodata">
                        <img ng-src="{{item.UphotoData}}" class="opacity-abc"
                             style="max-width: 100px;max-height: 100px;" ng-if="item.Uphotodata">
                        <div class="row">
                            <div class="col col-40">
                                <h2 class="opacity-abc"><b>姓名：{{item.UzhName}}</b></h2>

                                <h2 class="opacity-abc"><b>身份证：{{item.UidCard}}</b></h2>

                                <h3 class="opacity-abc">业务员：{{item.SysUserName}}</h3>

                                <h3 class="opacity-abc">时间：{{item.CapplyTime}}</h3>
                            </div>
                            <div class="col col-30 col-offset-10">
                                <div>数据状态</div>
                                <div
                                        ng-if="item.submitStatus == '-1'||item.submitStatus == -1||item.submitStatus ==undefined">
                                    <h2 class="button ion-android-close button-clear button-dark"
                                        style="text-align: center;color: #ff0000">
                                        中断
                                    </h2>
                                </div>
                                <div ng-if="item.submitStatus == '0'||item.submitStatus == 0">
                                    <h2 class="button ion-arrow-up-c  button-clear button-dark"
                                        style="text-align: center;color: #498f24">
                                        未上传
                                    </h2>
                                </div>
                                <div ng-if="item.submitStatus == '1'||item.submitStatus == 1">
                                    <h2 class="button ion-checkmark  button-clear button-dark"
                                        style="text-align: center;color: gray">
                                        已上传
                                    </h2>
                                </div>
                            </div>
                            <!--<div class="col col-30 col-offset-10">
                                <div>审批状态</div>
                                <div ng-if="item.approveStatus == false||item.approveStatus ==undefined">
                                    <h2 class="button ion-android-close button-clear button-dark"
                                        style="text-align: center;color: #ff0000">
                                        未审批
                                    </h2>
                                </div>
                                <div ng-if="item.approveStatus == true">
                                    <h2 class="button ion-checkmark  button-clear button-dark"
                                        style="text-align: center;color: gray">
                                        已审批
                                    </h2>
                                </div>
                            </div>-->
                        </div>

                        <ion-option-button class="button-positive" style="padding-top: 40px;width: 110px;font-size: 25px;"
                                           ng-click="changeContent(item)">预览
                        </ion-option-button>
                        <ion-option-button class="button-energized" style="padding-top: 40px;width: 110px;font-size: 25px;" ng-if="(item.approveStatus == true)&&(item.submitStatus == '1'||item.submitStatus == 1)"
                                           ng-click="setCardStep(item)">制卡
                        </ion-option-button>
                        <ion-option-button class="button-calm" ng-click="upload(item)"
                                           style="padding-top: 40px;width: 110px;font-size: 25px;"
                                           ng-if="item.submitStatus == '0'|| item.submitStatus == 0">上传
                        </ion-option-button>
                        <ion-option-button class="button-assertive" ng-click="remove(item)"
                                           style="padding-top: 40px;width: 110px;font-size: 25px;"
                                           ng-if="item.submitStatus != '0'&&item.submitStatus != 0">删除
                        </ion-option-button>

                    </ion-item>
                </ion-list>

        </ion-scroll>
    <!--审批未通过-->
        <ion-scroll direction="y" class="animateIf has-backgroud-abc" ng-if="chose==1" style="height: 70vh">


                <ion-list class="item-thumbnail-left opacity-abc">
                    <ion-item ng-show="data.isRefreshing">
                        <h1>
                            <i class="ion-loading-a"></i>
                        </h1>
                    </ion-item>

                    <ion-item ng-repeat="item in unPassapproveItems |orderBy:'CapplyTime':false" ng-show="!data.isRefreshing"
                              id="{{item.CapplyTime}}" class="progressBar">

                        <img ng-src="{{defaultPhotoData}}" class="opacity-abc"
                             style="max-width: 100px;max-height: 100px;" ng-if="!item.photoData">
                        <img ng-src="{{item.photoData}}" class="opacity-abc"
                             style="max-width: 100px;max-height: 100px;" ng-if="item.photoData">

                        <div class="row">
                            <div class="col col-40">
                                <h2 class="opacity-abc"><b>姓名：{{item.UzhName}}</b></h2>

                                <h2 class="opacity-abc"><b>身份证：{{item.UidCard}}</b></h2>

                                <h3 class="opacity-abc">业务员：{{item.SysUserName}}</h3>

                                <h3 class="opacity-abc">时间：{{item.CapplyTime}}</h3>
                            </div>
                            <div class="col col-30 col-offset-10">
                                <div>数据状态</div>
                                <div
                                        ng-if="item.submitStatus == '-1'||item.submitStatus == -1||item.submitStatus ==undefined">
                                    <h2 class="button ion-android-close button-clear button-dark"
                                        style="text-align: center;color: #ff0000">
                                        中断
                                    </h2>
                                </div>
                                <div ng-if="item.submitStatus == '0'||item.submitStatus == 0">
                                    <h2 class="button ion-arrow-up-c  button-clear button-dark"
                                        style="text-align: center;color: #498f24">
                                        未上传
                                    </h2>
                                </div>
                                <div ng-if="item.submitStatus == '1'||item.submitStatus == 1">
                                    <h2 class="button ion-checkmark  button-clear button-dark"
                                        style="text-align: center;color: gray">
                                        已上传
                                    </h2>
                                </div>
                            </div>
                           <!-- <div class="col col-30 col-offset-10">
                                <div>审批状态</div>
                                <div ng-if="item.approveStatus == false||item.approveStatus ==undefined">
                                    <h2 class="button ion-android-close button-clear button-dark"
                                        style="text-align: center;color: #ff0000">
                                        未审批
                                    </h2>
                                </div>
                                <div ng-if="item.approveStatus == true">
                                    <h2 class="button ion-checkmark  button-clear button-dark"
                                        style="text-align: center;color: gray">
                                        已审批
                                    </h2>
                                </div>
                            </div>-->
                        </div>

                        <ion-option-button class="button-positive" style="padding-top: 40px;width: 110px;font-size: 25px;"
                                           ng-click="changeContent(item)">预览
                        </ion-option-button>
                        <ion-option-button class="button-energized" style="padding-top: 40px;width: 110px;font-size: 25px;" ng-if="(item.approveStatus == true)&&(item.submitStatus == '1'||item.submitStatus == 1)"
                                           ng-click="setCardStep(item)">制卡
                        </ion-option-button>
                        <ion-option-button class="button-calm" ng-click="upload(item)"
                                           style="padding-top: 40px;width: 110px;font-size: 25px;"
                                           ng-if="item.submitStatus == '0'|| item.submitStatus == 0">上传
                        </ion-option-button>
                        <ion-option-button class="button-assertive" ng-click="remove(item)"
                                           style="padding-top: 40px;width: 110px;font-size: 25px;"
                                           ng-if="item.submitStatus != '0'&&item.submitStatus != 0">删除
                        </ion-option-button>

                    </ion-item>
                </ion-list>

        </ion-scroll>
    <!--审批通过-->
        <ion-scroll direction="y" class="animateIf has-backgroud-abc" ng-if="chose==2" style="height: 70vh">

                <ion-list class="item-thumbnail-left opacity-abc">
                    <ion-item ng-show="data.isRefreshing">
                        <h1>
                            <i class="ion-loading-a"></i>
                        </h1>
                    </ion-item>

                    <ion-item ng-repeat="item in approveItems |orderBy:'CapplyTime':false" ng-show="!data.isRefreshing"
                              id="{{item.CapplyTime}}" class="progressBar">

                        <img ng-src="{{defaultPhotoData}}" class="opacity-abc"
                             style="max-width: 100px;max-height: 100px;" ng-if="!item.photoData">
                        <img ng-src="{{item.photoData}}" class="opacity-abc"
                             style="max-width: 100px;max-height: 100px;" ng-if="item.photoData">

                        <div class="row">
                            <div class="col col-40">
                                <h2 class="opacity-abc"><b>姓名：{{item.UzhName}}</b></h2>

                                <h2 class="opacity-abc"><b>身份证：{{item.UidCard}}</b></h2>

                                <h3 class="opacity-abc">业务员：{{item.SysUserName}}</h3>

                                <h3 class="opacity-abc">时间：{{item.CapplyTime}}</h3>
                            </div>
                            <div class="col col-30 col-offset-10">
                                <div>数据状态</div>
                                <div
                                        ng-if="item.submitStatus == '-1'||item.submitStatus == -1||item.submitStatus ==undefined">
                                    <h2 class="button ion-android-close button-clear button-dark"
                                        style="text-align: center;color: #ff0000">
                                        中断
                                    </h2>
                                </div>
                                <!--submitStatus为0是文字未上传，为2是图片未上传-->
                                <div ng-if="item.submitStatus == '0'||item.submitStatus == 0||item.submitStatus == '2'||item.submitStatus == 2">
                                    <h2 class="button ion-arrow-up-c  button-clear button-dark"
                                        style="text-align: center;color: #498f24">
                                        未上传
                                    </h2>
                                </div>
                                <div ng-if="item.submitStatus == '1'||item.submitStatus == 1">
                                    <h2 class="button ion-checkmark  button-clear button-dark"
                                        style="text-align: center;color: gray">
                                        已上传
                                    </h2>
                                </div>
                            </div>
                            <!--<div class="col col-30 col-offset-10">
                                <div>审批状态</div>
                                <div ng-if="item.approveStatus == false||item.approveStatus ==undefined">
                                    <h2 class="button ion-android-close button-clear button-dark"
                                        style="text-align: center;color: #ff0000">
                                        未审批
                                    </h2>
                                </div>
                                <div ng-if="item.approveStatus == true">
                                    <h2 class="button ion-checkmark  button-clear button-dark"
                                        style="text-align: center;color: gray">
                                        已审批
                                    </h2>
                                </div>
                            </div>-->
                        </div>

                        <ion-option-button class="button-positive" style="padding-top: 40px;width: 110px;font-size: 25px;"
                                           ng-click="changeContent(item)">预览
                        </ion-option-button>
                        <ion-option-button class="button-energized" style="padding-top: 40px;width: 110px;font-size: 25px;" ng-if="(item.approveStatus == true)&&(item.submitStatus == '1'||item.submitStatus == 1)"
                                           ng-click="setCardStep(item)">制卡
                        </ion-option-button>
                        <ion-option-button class="button-calm" ng-click="upload(item)"
                                           style="padding-top: 40px;width: 110px;font-size: 25px;"
                                           ng-if="item.submitStatus == '0'|| item.submitStatus == 0">上传
                        </ion-option-button>
                        <ion-option-button class="button-assertive" ng-click="remove(item)"
                                           style="padding-top: 40px;width: 110px;font-size: 25px;"
                                           ng-if="item.submitStatus != '0'&&item.submitStatus != 0">删除
                        </ion-option-button>

                    </ion-item>
                </ion-list>

        </ion-scroll>
    </div>
</div>
</ion-view>
