<ion-nav-buttons side="left">
    <button class="button button-icon icon ion-chevron-left" style="color: dodgerblue"
            ng-click="backContent()">返回
    </button>
</ion-nav-buttons>

<ion-view title="详细信息" ng-controller="uploadDetailCtrl">

<div class="has-subheader pdv" style="margin-top:50px;height: 100%">
<div class="card wrapper">
<div class="button-bar col-50">
    <a class="button {{tabStyleArray[0]}}" ng-click="tab(0)">个人资料预览</a>
    <a class="button {{tabStyleArray[1]}}" ng-click="tab(1)">影像资料预览</a>
</div>
<div class="item item-text-wrap">
<!--个人资料预览*********************************************************************-->
<ion-scroll direction="y" ng-if="curPage" style="height: 70vh">
    <div class="card">
        <!--*****标题和条形码 开始**************************-->
        <div class="row">
            <div class="col col-75 textR paperTitle">
                <span>澳洲联邦银行借记卡申请人资料预览表</span>
            </div>
            <div class="col textC">
                <ul>
                    <li class="barCode" ng-show="!!scanCodeNub" onclick="return false">*{{scanCodeNub}}*</li>
                    <li class="barNumber" onclick="return false">{{scanCodeNub}}</li>
                </ul>
            </div>
        </div>
        <div class="containerSmall" style="">
            <div class="boxContent">
                <table width="100%">
                    <thead>个人资料</thead>
                    <form id="personDataInfoForm" name="personDataInfoForm">
                        <div class="list">
					<span class="item item-content">
						<div class="row">
                            <div class="col">
                                <i class="ziliao-icon ziliao-name">&nbsp;</i>
                                <span>中文姓名：</span>
                                 {{applyCardInfo.UzhName}}
                            </div>
                            <div class="col">
                                <i class="ziliao-icon ziliao-pingyin">&nbsp;</i>
                                <span>拼音：</span>
                                {{applyCardInfo.Uspell}}
                            </div>
                        </div>
					</span>
					<span class="item item-content">
						<div class="row">
                            <div class="col">
                                <i class="ziliao-icon ziliao-ident">&nbsp;</i>
                                <span>身份证号：</span>
                                {{applyCardInfo.UidCard}}
                            </div>
                            <div class="col">
                                <i class="ziliao-icon ziliao-shenxiao">&nbsp;</i>
                                <span>出生日期：</span>
                                {{applyCardInfo.Ubirthday}}
                            </div>
                        </div>
					</span>
					<span class="item item-content">
						<div class="row">
                            <div class="col">
                                <i class="ziliao-icon ziliao-tel">&nbsp;</i>
                                <span>手机号码：</span>
                                {{applyCardInfo.Uphone}}
                            </div>
                            <div class="col">
                                <i class="ziliao-icon ziliao-email">&nbsp;</i>
                                <span>邮箱：</span>
                                {{applyCardInfo.Uemail}}

                            </div>
                        </div>
					</span>
					<span class="item item-content">
						<div class="row">
                            <div class="col">
                                <i class="ziliao-icon ziliao-marry">&nbsp;</i>
                                <span>婚姻状况：</span>
                                {{applyCardInfo.Umarriage}}
                            </div>
                        </div>
					</span>
					<span class="item item-content">
						<div class="row">
                            <div class="col">
                                <i class="ziliao-icon ziliao-education">&nbsp;</i>
                                <span>教育程度：</span>
                                {{applyCardInfo.Ueducation}}
                            </div>
                        </div>
					</span>
					<span class="item item-content">
						<div class="row">
                            <div class="col">
                                <i class="ziliao-icon ziliao-home">&nbsp;</i>
                                <span>住宅状况：</span>
                                {{applyCardInfo.UhomeAddStatus}}
                            </div>
                        </div>
					</span>
					<span class="item item-content">
						<div class="row">
                            <div class="col">
                                <i class="ziliao-icon ziliao-address">&nbsp;</i>
                                <span>住宅地址：</span>
                                {{applyCardInfo.UhomeAdd}}
                            </div>
                        </div>
					</span>
                        </div>
                    </form>
                </table>


            </div>

        </div>

    </div>
</ion-scroll>
<!--影音资料预览*********************************************************************-->
<ion-scroll direction="y" class="animateIf" ng-if="!curPage" style="height: 70vh">
    <div class="takePhotoContent">
        <div>
            <div class="item item-content">
                <label class="icon ion-qr-scanner">条码扫描</label>
            </div>

            <div class="item item-content">
                <ul class="col tPt_col-300px">
                    <li class="tPt_barCode" ng-show="!!scanCodeNub" onclick="return false">*{{scanCodeNub}}*</li>
                    <li class="tPt_barNumber" onclick="return false">{{scanCodeNub}}</li>
                </ul>
                <!--<div class="photoBarCode">{{scanCodeNub}}</div>-->
            </div>

        </div>

        <div>
            <div class="item item-content">
                <label class="icon ion-images">主卡签字文件照</label>
            </div>
            <div class="item item-input-inset imgContent">
                <div data-ng-repeat="img in sigNameImg">
                    <div class="imgDiv">
                        <img ng-src="{{img.imgUrl}}" style="width:200px ;height: 150px">&nbsp;
                    </div>
                </div>
            </div>

        </div>

        <div>
            <div class="item item-content">
                <label class="icon ion-images">主卡与拓展人合照</label>
            </div>

            <div class="item item-input-inset imgContent">
                <div data-ng-repeat="img in perPhotoImg">
                    <div class="imgDiv">
                        <img ng-src="{{img.imgUrl}}" style="width:200px ;height: 150px">&nbsp;&nbsp;
                    </div>
                </div>

            </div>

        </div>


        <div>
            <div class="item item-content">
                <label class="icon ion-images">主卡身份证</label>
            </div>

            <div class="item item-input-inset imgContent">
                <div data-ng-repeat="img in mainIdCardImg">
                    <div class="imgDiv">
                        <img ng-src="{{img.imgUrl}}" style="width:200px ;height: 150px">&nbsp;&nbsp;
                    </div>
                </div>

            </div>

        </div>

        <div>
            <div class="item item-content">
                <label class="icon ion-images">其他</label>
            </div>
            <div class="item item-input-inset imgContent">
                <div data-ng-repeat="img in othersImg">
                    <div class="imgDiv">
                        <img ng-src="{{img.imgUrl}}" style="width:200px ;height: 150px">&nbsp;&nbsp;
                    </div>
                </div>

            </div>

        </div>
    </div>
</ion-scroll>
</div>
</div>
</div>


</ion-view>

