<div class="containerBig">
    <div class="containerSmall cM ">
           <div class="content">
            <div class="okMark">
                <span class="ion-checkmark-round"></span>
            </div>
            <div class="content_text" >
                恭喜你申请借记卡成功
            </div>
           </div>
          <!--<div class="button_all" >
              <button class="button button_detail1"> 返回</button>
              <button class="button button_detail2" ng-click="next_step(9)"> 提交</button>
          </div>-->
    </div>
</div>