<div class="containerBig" ng-init="initData()" >
    <div id="containerSmall" class="containerSmall cM">
        <div style="height: 85%;">
            <form id="wordInfoForm" name="wordInfoForm" ng-submit="processForm(wordInfoForm.$valid)" novalidate class="validate-abc personData">
                <div class="personalLeft"></div>
                <div class="personalRight"  >
                    <div class="item-input-inset" style="margin-top: 115px;">
                        <label class="range-label" >
                            卡号：
                        </label>
                        <label class="item-input-wrapper inp">
                            <input type="text"  style="color: #06B274;font-size: 25px;height: 35px;"   ng-model="cardICId">
                        </label>
                        <button class="button" ng-click="readIcCard()">
                            刷卡
                        </button>
                    </div>
                    <div class="item-input-inset" style="margin-top: 95px;">
                        <label class="range-label">
                            卡片个人化：
                        </label>
                        <label class="item-input-wrapper inp">
                            <a style="color: #ff0000;font-size: 25px">{{icSuc}}</a>
                        </label>
                        <button class="button" ng-click="IcCardPersonal()">
                            开始
                        </button>
                    </div>
                </div>
            </form>
        </div>
        <div class="stepInfoBottomBtn" >
            <button class="button " ng-click="next_step(2)">
                下一步
            </button>
        </div>
    </div>
</div>
