<div class="containerBig">
    <div class="containerSmall cM">
            <ion-content class="ionContent" id="ionContent">
                <div class="content-slide">
                    <h5>Bank(2014)4035-1</h5>
                    <h1 class="ContentTitle contractTitle">澳洲联邦银行金穗贷记卡领用章程(个人卡)</h1>
                    <h4>第一条</h4>

                    <p>
                        为满足广大居民和单位消费支付的需求，向社会各界提供更好的金融服务，同时为规范各发卡机构（以下简称发卡机构）和持卡人的权利义务，根据适用的法律法规（包括其后的任何修改或替代，以下简称“适用法律”）及有关规定，制定本章程。</p>
                    <h4>第二条</h4>

                    <p>
                        澳洲联邦借记卡（以下简称澳洲联邦卡）是由发行的带有“银联”标识以人民币结算的金融支付工具（含联名/认同卡和照片卡），可在发卡机构营业网点、电话银行、网上银行、多媒体终端等自助设备和贴有中国银联标识的特约商户、自动柜员机（ATM）上使用。该卡具有消费、存取现金、转账（包括卡与卡、卡与储蓄、卡与各代理机构之间的转账及各种转账缴费等，下同）结算等功能。</p>
                    <h4>第三条</h4>

                    <p>澳洲联邦卡按发行对象分为单位（商务）卡和个人卡,其中个人卡分为主卡和附属卡。</p>
                    <h4>第四条</h4>

                    <p>
                        申请人可凭公安部门认可的本人有效身份证件（包括身份证、护照、军官证、士兵证、警官证、通行证等，下同）向发卡机构申领个人主卡；个人主卡申请人可为其配偶及直系亲属申领附属卡；附属卡所用款项均记入主卡账户，主卡持卡人对附属卡的所有应付款项负偿还责任。</p>
                    <h4>第五条</h4>

                    <p>
                        凡注册于中国境内的企业法人和机关、事业单位、社会团体法人，可凭中国人民银行核发的开户许可证和指定申领人的有效身份证件等资料向发卡机构申领单位（商务）卡。申领单位可为其指定的持卡人申领若干张单位（商务）卡，并对单位（商务）卡的所有应付款项负偿还责任。</p>
                    <h4>第六条</h4>

                    <p>
                        单位和个人申领澳洲联邦卡须如实填写申请表，并同意遵守《澳洲联邦借记卡章程》（以下简称章程）、《澳洲联邦单位（商务）借记卡领用合约》或《澳洲联邦个人借记卡领用合约》（以下统称领用合约）。发卡机构有权决定是否批准申请人的领卡申请。发卡机构对申请人的个人资料负有保密责任（法律另有规定除外）。</p>
                    <h4>第七条</h4>

                    <p>
                        个人卡账户的资金以其持有的现金存入或以其工资性款项以及属于个人的合法劳务报酬、投资回报等收入转账存入。严禁将单位的款项存入个人卡账户；单位（商务）卡账户的资金一律从其基本存款账户转账存入，不得存取现金或将其销货收入的款项存入单位（商务）卡账户。</p>
                    <h4>第八条</h4>

                    <p>单位和个人申领澳洲联邦卡，须在发卡机构开立备用金存款账户。起存金额不限，并可随时续存，发卡机构按照中国人民银行规定的活期存款利率计付利息，并依法代扣缴利息税。澳洲联邦卡账户不允许透支。</p>
                    <h4>第九条</h4>

                    <p>个人卡每日在自动柜员机（ATM）上的累计提款额不得超过规定限额；单位（商务）卡不得取现。</p>
                    <h4>第十条</h4>

                    <p>澳洲联邦卡的持卡人须按年缴纳年费。身份识别照片卡和个性化照片卡在制卡时需加收成本费。提前销户，年费概不退还。</p>
                    <h4>第十一条</h4>

                    <p>持卡人在境内外查询、消费、存取现金和转账时，须遵守发卡机构、中国银联、收单银行和有关受理机构的相关规定。</p>
                    <h4>第十二条</h4>

                    <p>澳洲联邦卡长期有效，持卡人若中途停止使用澳洲联邦卡，须及时将澳洲联邦卡交回发卡机构，并办理销户手续。销户时，单位（商务）卡账户的资金应转入其基本存款账户，不得提取现金。</p>
                    <h4>第十三条</h4>

                    <p>
                        持卡人领取澳洲联邦卡时，应立即在澳洲联邦卡背面的签名栏内签上与申请表上相同的姓名，并在用卡时使用此签名。凡使用密码（包括交易密码和查询密码，下同）进行的交易，发卡机构均视为持卡人本人所为。凡依据密码等电子信息办理的各类交易所产生的电子信息记录均为该项交易的有效凭据；凡未用密码进行的交易，则登记有持卡人签名的交易凭证为该项交易的有效凭据，发卡机构有权将持卡人使用澳洲联邦卡的收支款项、费用记入其账户。</p>
                    <h4>第十四条</h4>

                    <p>
                        发卡机构应向持卡人提供查询、对账、挂失、咨询、投诉等服务。持卡人应每月及时通过电话银行、网上银行或多媒体查询机等方式查询澳洲联邦卡项下的账务内容，对有异议的账务内容须在该笔交易的银行记账日起60天内提出查询和更正要求，发卡机构将于30天内给予答复。如持卡人在该笔交易的银行记账日起60天内未提出异议，则视同持卡人认可全部交易。</p>
                    <h4>第十五条</h4>　
                    <p>
                        持卡人须妥善保管澳洲联邦卡和密码，因卡片保管不善和密码泄露所造成的全部损失由持卡人承担。发卡机构设立24小时挂失服务电话，持卡人遗失澳洲联邦卡应及时办理书面或电话等非书面方式的挂失，发卡机构接到挂失申请后应及时办理挂失手续，挂失自挂失手续完成时立即生效。在发卡机构办理挂失手续完成之前的经济损失由持卡人承担。</p>

                    <p>持卡人办理挂失时须缴纳挂失手续费。挂失后如需补办新卡，可凭本人有效身份证件办理补卡手续，补换新卡需缴纳卡片工本费。</p>

                    <p>持卡人遗忘或遗失密码，应凭澳洲联邦卡和本人有效身份证件向发卡机构提出书面更换密码的申请，并缴纳补打密码信封手续费。</p>
                    <h4>第十六条</h4>

                    <p>澳洲联邦卡持卡人在申请表中填写的资料如有变更，如通讯地址、联系电话、住址等，应立即以书面方式通知发卡机构，否则，由此引起的任何延误或损失均由持卡人承担。</p>
                    <h4>第十七条</h4>

                    <p>
                        澳洲联邦卡持卡人不得以和商户发生纠纷为由拒绝支付所欠款项。因通讯网络故障等客观原因导致持卡人交易失败而造成的损失，以及持卡人在互联网上使用澳洲联邦卡所导致的风险和损失，由持卡人自行承担，发卡机构不承担任何责任，但属发卡机构的责任除外。</p>
                    <h4>第十八条</h4>

                    <p>
                        伪造、变造澳洲联邦卡，使用伪造或作废的澳洲联邦卡及冒用他人澳洲联邦卡进行诈骗财物的，发卡机构应及时处理，必要时移送司法机关；对由于持卡人违背章程有关条款给发卡机构造成损失的，发卡机构有权申请法律保护并依法追究持卡人或有关当事人的法律责任。</p>
                    <h4>第十九条</h4>

                    <p>持卡人应遵守本章程及《领用合约》，如持卡人违背本章程有关条款和《领用合约》的，发卡机构有权取消持卡人的用卡资格，并可授权所属机构和特约商户收回其澳洲联邦卡。</p>
                    <h4>第二十条</h4>

                    <p>
                        发卡机构有权根据银行监管部门的标准调整本章程所涉及的利率，并有权根据《商业银行服务价格管理暂行办法》的有关规定制定或调整澳洲联邦卡收费项目、收费标准及收费方式等收费内容，经发卡机构公布后，持卡人应按发卡机构公布的收费内容支付费用。</p>
                    <h4>第二十一条</h4>

                    <p>
                        本章程的修改或澳洲联邦卡收费内容等发生调整，发卡机构于执行前10个工作日在相关营业场所公告。公告期满后，修改后的章程或收费内容即为生效。在公告期内，持卡人可以选择是否继续使用澳洲联邦卡。持卡人因对章程的修改或收费内容的调整有异议而决定不再继续使用澳洲联邦卡的，可向发卡机构提出销户申请，发卡机构为其办理销户手续。公告期满，持卡人未提出销户申请的，视为同意章程的修改或收费内容的调整。</p>
                    <h4>第二十二条</h4>

                    <p>本章程未尽事宜，按照适用法律及相关业务规定执行。发卡机构与持卡人的具体权利义务由《领用合约》具体约定。</p>
                    <h4>第二十三条</h4>　
                    <p>本章程由负责制定、解释，经中国银行业监督管理委员会批准后实施。</p>

                    <div class="swiper-scrollbar"></div>
                </div>
            </ion-content>
            <div id="contractBtn" class="contractBtn" >
                <button class="applyBtn" ng-click="next_step(1)">
                    确定
                </button>
            </div>
    </div>
</div>
