<div  class="containerBig" data-ng-init="initPhotoImg()">
    <div id="containerSmall" class="containerSmall cM" >
        <ion-content class="ionContent takePhotoContent" >
            <div class="typeClass">
                <div class="item item-text-wrap">
                    <label class="icon ion-images">持卡人签字文件照</label><label class="{{classFlag.signClass}}"></label>
                </div>

                <div class="item item-input-inset imgContent">
                    <div data-ng-repeat="img in sigNameImg">
                        <div class="imgDiv">
                            <div>
                                <img  ng-src="{{img.imgUrl}}" style="width:200px ;height: 150px">
                                <a class=" button-icon icon ion-close" style="float: right;" data-ng-click="removeSignPhoto('{{img.imgName}}')">
                                </a>
                            </div>
                        </div>
                    </div>
                    <img id="sigName" ng-src="{{_serverURL+'img/takePhoto.png'}}" data-ng-click="takeSignPhoto()" data-ng-show="status.signShow">
                </div>
            </div>

            <div  class="typeClass">
                <div class="item item-text-wrap">
                    <label class="icon ion-images">持卡人与拓展人合照</label> <label class="{{classFlag.personClass}}"></label>
                </div>
                <div class="item item-input-inset imgContent">
                    <div data-ng-repeat="img in perPhotoImg">
                        <div class="imgDiv">
                            <img   ng-src="{{img.imgUrl}}" style="width:200px ;height: 150px">
                            <a class=" button-icon icon ion-close" style="float: right;" data-ng-click="removePersonPhoto('{{img.imgName}}')">
                            </a>
                        </div>
                    </div>
                    <img id="perPhoto" ng-src="{{_serverURL+'img/takePhoto.png'}}" data-ng-click="takePersonPhoto()" data-ng-show="status.personShow">
                </div>
            </div>
            <div  class="typeClass">
                <div class="item item-text-wrap">
                    <label class="icon ion-images">持卡人身份证正反面照</label><label class="{{classFlag.mainIdCardClass}}"></label>
                </div>
                <div class="item item-input-inset imgContent">
                    <div data-ng-repeat="img in mainIdCardImg">
                        <div class="imgDiv">
                            <img  ng-src="{{img.imgUrl}}" style="width:200px ;height: 150px">
                            <a class=" button-icon icon ion-close" style="float: right;" data-ng-click="removeMainCardPhoto('{{img.imgName}}')"></a>
                        </div>
                    </div>
                    <img id="guarantee" ng-src="{{_serverURL+'img/takePhoto.png'}}" data-ng-click="takeMainCardPhoto()" data-ng-show="status.mainCardShow">
                </div>
            </div>
            <div  class="typeClass">
                <div class="item item-text-wrap">
                    <label class="icon ion-images">其他</label>
                </div>
                <div class="item item-input-inset imgContent">
                    <div data-ng-repeat="img in othersImg">
                        <div class="imgDiv">
                            <img  ng-src="{{img.imgUrl}}" style="width:200px ;height: 150px">
                            <a class="button-icon icon ion-close" style="float: right;" data-ng-click="removeOthersPhoto('{{img.imgName}}')">
                            </a>
                        </div>
                    </div>
                    <img id="others" ng-src="{{_serverURL+'img/takePhoto.png'}}" data-ng-click="takeOtherPhoto()" data-ng-show="status.othersShow">
                </div>
            </div>
        </ion-content>
        <div class="stepInfoBottomBtn photoStep" >
            <button class="button" ng-click="next_step(5);savePhotoData();" data-ng-show="btStatus.nextStep">
                下一步
            </button>
        </div>
    </div>
</div>