<div class="containerBig">
    <div class="containerSmall cM">
            <ion-content class="ionContent" id="ionContent">
                <div class="content-slide contract">
                    <h5>Bank(2014)4035-1</h5>
                    <h1 class="ContentTitle contractTitle">澳洲联邦银行借记卡领用合约(个人卡)</h1>
                    <p>__________分行授权_________支行（所）（以下简称“甲方”）与澳洲联邦个人借记卡（以下简称“澳洲联邦卡”）主卡申领人（以下简称“乙方”）
                        和附属卡申领人（以下简称“丙方”），在知悉并愿意共同遵守《澳洲联邦借记卡章程》（以下简称《章程》）的前提下，就澳洲联邦卡的申领、使用、销户和收回等事宜达成本合约。乙方和丙方在澳洲联邦卡申请表上签名即视为乙方和丙方已知悉、理解并同意共同遵守《章程》及本合约的条款。</p>
                    <h4>第一条 信息披露和保密</h4>
                    <ul>
                        <li>一、乙方和丙方应按甲方规定，准确、完整、真实地填写申请表和提交相关信息。</li>
                        <li>
                            二、乙方和丙方在申请表中填写的资料如有变更，如通讯地址、联系电话、住址、职业、收入等，应立即以书面方式通知甲方。除非甲方确实收到了该等更改通知并更改了有关记录，否则原有的资料将一直有效。因乙方未及时通知甲方、或甲方未收到更改通知、或在甲方更改有关资料之前引起的任何延误或损失均由乙方承担。
                        </li>
                        <li>三、甲方应对乙方和丙方领用和使用澳洲联邦卡的所有信息以及其他有关乙方和丙方的信息和资料负有保密义务，但下列情形除外：</li>
                        <ul>
                            <li>1．适用的法律法规(包括其后的任何修改、变更或替代, 以下简称“适用法律”)强制要求披露的;</li>
                            <li>2．司法部门、政府部门或监管部门要求披露的;</li>
                            <li>3．乙方和丙方同意或授权甲方进行披露的。</li>
                        </ul>
                    </ul>
                    <h4>第二条 澳洲联邦卡的申请</h4>
                    <p>甲方有权决定是否批准乙方的领卡申请，如果甲方决定不予发放澳洲联邦卡，乙方提供的申请资料将不予退还。</p>
                    <h4>第三条 应付款项</h4>
                    <ul>
                        <li>一、应付款项为乙方和丙方使用澳洲联邦卡所产生的各项费用，包括但不限于年费、挂失手续费、异地存取现金或转账手续费等。</li>
                        <li>二、乙方和丙方使用澳洲联邦卡后所产生的各项费用均记入乙方账户。</li>
                        <li>三、乙方授权甲方扣收澳洲联邦卡账户内的资金以偿还乙方的应付款项。</li>
                    </ul>
                    <h4>第四条 交易方式及交易凭证</h4>
                    <ul>
                        <li>
                            一、密码包括交易密码和查询密码（下同）。凡在自助设备（包括但不限于ATM、CDM、CRS、多媒体终端、电话银行、网上银行、手机银行等，下同）和POS上当日累计连续3次输错交易密码，澳洲联邦卡将被锁，不能在自助设备和POS上办理任何使用交易密码的交易，乙方或丙方需持澳洲联邦卡和本人有效身份证件到甲方营业网点柜面办理澳洲联邦卡解锁交易。
                            凡在网上银行连续6次输错查询密码的，澳洲联邦卡将被锁，不能在网上银行办理任何使用查询密码的交易，乙方或丙方需持澳洲联邦卡和本人有效身份证件到甲方营业网点柜面办理澳洲联邦卡解锁交易。
                        </li>
                        <li>
                            二、凡使用乙方或丙方的密码进行的交易，均视同乙方或丙方本人所为。依据密码等电子数据信息办理的各类交易所产生的电子信息交易记录均为该项交易的有效凭证。凡不需要使用密码的交易，则记载有乙方或丙方签名的交易凭证为该项交易的有效凭证。
                        </li>
                        <li>三、乙方和丙方领取澳洲联邦卡时，应立即在澳洲联邦卡背面的签名栏内签上与申请表上相同的姓名, 并在用卡时使用此签名，否则由此产生的损失由乙方承担。</li>
                        <li>四、乙方和丙方在消费、存取现金和转账时，须遵守甲方、中国银联、收单银行及有关受理机构的相关规定。</li>
                        <li>
                            五、在甲方营业网点柜面办理取现和转账交易时，乙方或丙方如无法前往办理，可委托他人代为办理，委托代理人须同时出示其本人以及乙方或丙方的有效身份证件。凡使用乙方或丙方的密码进行的交易，均视同委托代理人取得了乙方或丙方合法有效的授权委托。因委托代理而产生一切损失由乙方承担。
                        </li>
                        <li>六、如任何非乙方或丙方应得款项错误存入乙方账户，经甲方查实确认的，乙方授权甲方从乙方账户扣转该笔款项。</li>
                        <li>
                            七、如果乙方和丙方对交易有疑问，有权要求甲方协助查询，在查询过程中乙方和丙方如委托甲方索取有关交易单据证明的，还须支付相应的手续费。乙方和丙方如在该笔交易的甲方记账日起60天内未提出异议，则视同乙方和丙方认可该笔交易。
                        </li>
                        <li>八、乙方和丙方每日每卡在自助设备上的累计提款额不得超过自助设备的规定限额。</li>
                    </ul>
                    <h4>第五条 密码重置及澳洲联邦卡挂失</h4>
                    <ul>
                        <li>
                            一、乙方或丙方遗忘澳洲联邦卡密码的，应由本人凭澳洲联邦卡和申请澳洲联邦卡时的有效身份证件向甲方书面提出密码重置申请，经甲方审核同意后为其重置密码和补打密码信封，并由乙方支付相应的费用。
                        </li>
                        <li>二、乙方或丙方遗失澳洲联邦卡，应及时办理书面或电话等非书面方式的挂失,挂失自挂失手续完成时立即生效。</li>
                        <li>三、乙方或丙方遗忘密码或遗失澳洲联邦卡的，如有下列情况之一，甲方不承担任何责任，所有损失由乙方承担：</li>
                        <ul>
                            <li>1.密码重置前使用密码进行的各项交易；</li>
                            <li>2.挂失手续办理完成前发生的澳洲联邦卡下的所有交易；</li>
                            <li>3.乙方或丙方有欺诈或其他违反诚实信用原则的行为；</li>
                            <li>4.乙方或丙方未在澳洲联邦卡背面签名而被他人冒用的；</li>
                            <li>5.乙方或丙方未保管好其有效的身份证件或因密码泄露而被他人冒用的；</li>
                            <li>6.甲方调查相关情况，遭乙方或丙方拒绝的。</li>
                        </ul>
                    </ul>
                    <h4>第六条 其他使用条款</h4>
                    <ul>一、如有下列情况,甲方有权取消乙方和丙方的用卡资格，并授权所属机构和特约商户收回澳洲联邦卡，同时乙方应承担因此产生的一切损失，乙方和丙方已经缴纳的年费不予退还：
                        <ul>
                            <li>1.乙方或丙方向他人转让、转借澳洲联邦卡或账户；</li>
                            <li>2.乙方或丙方利用澳洲联邦卡从事非法活动；</li>
                            <li>3.乙方或丙方有欺诈或其他违反诚信原则的行为；</li>
                            <li>4.乙方或丙方违反本合约其他条款。</li>
                        </ul>
                        <p>
                            二、乙方或丙方不得以和商户发生纠纷为由拒绝支付应付款项；因网络故障等客观原因导致乙方或丙方用卡失败而造成的损失，甲方不承担任何责任。乙方或丙方在互联网上使用澳洲联邦卡所导致的一切风险和损失均由其自行承担。</p>
                        <h4>第七条 澳洲联邦卡的销户条款</h4>

                        <p>乙方或丙方如需中途停止使用澳洲联邦卡的，应向甲方提出书面销户申请。若丙方提出销卡，乙方可继续使用澳洲联邦卡；若乙方提出销卡销户，则丙方须同时销卡。</p>

                        <p>
                            如甲方在受理乙方书面销户申请时乙方无应付款项或冻结款项，则甲方当日为其办理销户手续。如甲方在受理乙方书面销户申请时乙方尚有应付款项或冻结款项，则甲方将于乙方无应付款项或冻结款项后为其办理销户手续。在销户手续办理完毕前因使用澳洲联邦卡而发生的所有应付款项仍应由乙方承担，上述应付款项视为全部到期并由乙方一次清偿，甲方不退还已收取的年费。本合约自销户手续办理完毕后终止。</p>
                    </ul>
                    <h4>第八条 个性化照片卡领用条款</h4>
                    <ul>
                        <li>一、乙方和丙方办理个性化照片卡需向甲方提供个性化照片（包括电子文档），个性化照片包括个人艺术照、全家福、宠物、风景等各种照片。</li>
                        <li>
                            二、乙方和丙方向甲方所提供的个性化照片不得违反有关法律规定；并对其所提供的照片拥有肖像权、著作权等所有权利或所有授权；因照片的肖像权、著作权等权利而引发的任何纷争或诉讼，由乙方或丙方自行解决并直接向第三人承担责任；因该等纷争或诉讼导致甲方受到经济损失的（包括但不限于赔偿金、诉讼费、律师费、名誉损失费等），其损失由乙方或丙方承担。
                        </li>
                        <li>三、凡乙方和丙方提交的照片，包括照片上的装饰、标语、符号等，涉及以下内容的，均不予受理，甲方有权要求乙方或丙方更换所提供照片：</li>
                    </ul>
                    <ul>
                        <li>（一）与各国的国家名称、国旗、国徽、军旗、勋章相同或者近似的文字、图形；</li>
                        <li>（二）与各国政府间或国际组织的旗帜、徽记、名称相同或者近似的文字、图形；</li>
                        <li>（三）与“红十字”、“红新月”的标志、名称相同或者近似的文字、图形；</li>
                        <li>（四）带有民族歧视性的文字、图形；</li>
                        <li>（五）夸大宣传并带有欺骗性的文字、图形；</li>
                        <li>（六）有害于社会主义道德风尚或者有其他不良影响的文字、图形；</li>
                        <li>（七）我国县级以上行政区划的地名和公众知晓的外国地名；</li>
                        <li>（八）广告、促销信息或品牌产品的名称或商标；</li>
                        <li>（九）名人、音乐家、公众人物或运动员（申领人拥有肖像权的除外）；</li>
                        <li>（十）各类电话号码；</li>
                        <li>（十一）不被承认的各种组织或团体的名称或标识；</li>
                        <li>（十二）侵犯文化或宗教信仰的图案；</li>
                        <li>（十三）奥林匹克标志图案；</li>
                        <li>（十四）与甲方有竞争关系的公司或组织的名称或标识；</li>
                        <li>（十五）法律、法规规定禁止摆放的其它内容；</li>
                        <li>（十六）甲方认为不能受理的照片。</li>
                        <li>
                            四、乙方和丙方应在申请澳洲联邦卡、或申请重制、挂失补卡的同时提供照片。乙方和丙方申请重制卡或挂失补卡可提供原照片，也可提供新照片。所提供的照片经甲方审核后，予以制卡，照片不予退还；如所提供的照片不符合要求，乙方或丙方应更换照片再行申领。
                        </li>
                    </ul>
                    <h4>第九条 法律适用及争议解决</h4>
                    <p>本合约适用中华人民共和国的有关法律，在履行本合约中所发生的争议由甲方所在地的人民法院管辖。</p>
                    <h4>第十条 其他</h4>
                    <ul>
                        <li>一、澳洲联邦卡申请表、收费表、《章程》是本合约的组成部分，澳洲联邦卡的收费项目、收费标准及收费方式等收费内容以收费表的规定为准。</li>
                        <li>二、甲方有权修改本合约，包括澳洲联邦卡申请表、收费表以及《章程》，并于执行前10个工作日在相关营业场所公告。公告期满后即对本合约当事人具有约束力。</li>
                        <li>三、未尽事宜除当事人另有约定外，均依据甲方业务规定以及金融业惯例办理。</li>
                        <li>四、本合约自乙方、丙方在甲方打印的业务受理书上签字、甲方授权代表在该业务受理书上签字（或盖章）或加盖甲方业务章后生效。</li>
                    </ul>
                </div>
            </ion-content>
        <div id="regulationsBtn" class="regulationsBtn" >
            <button class="applyBtn" ng-click="next_step(2)">
                同意
            </button>
            <button class="applyBtn" ng-click="backChoseBus();">
                不同意
            </button>
        </div>

    </div>
</div>
