/*按钮背景样式*/
 .applyBtn{
    color: white;
    font-size: 22px;
    font-weight: bold;
    border: 1px solid #636166;
    border-radius: 25px;
    width: 135px;
    height: 50px;
    background-color: #f0b840;
}
.applyBtn:active{
    background-color: #ce9d34;
}
.apply-container {
    width: 1000px;
    perspective: 1200px;
    -webkit-perspective: 1200px;
}

.apply-slide {
    width: 367px;
    height: 237px;
}

.busInfoSty{
    width:100%;
    height:100%;
    float: left;
}

.noPadding{
    height: 10%;
    padding: 0px;
}

.stepInfoBottomBtn{
    text-align: center;
    background: url("../../img/line.png") repeat-x;
}
/*屏蔽ios识别数字串begin*/
a,a:hover{
    text-decoration: none;
    color: inherit;
}
/*屏蔽ios识别数字串end*/

/*填写资料--begin*/
.ziliao-icon {
    width: 30px;
    height: 26px;
    line-height: 26px;
    display: inline-block;
}
.ziliao-address {
   background: url("../../img/ziliao/address.png") center center no-repeat;
}
.ziliao-education {
   background: url("../../img/ziliao/education.png") center center no-repeat;
}
.ziliao-email {
   background: url("../../img/ziliao/email.png") center center no-repeat;
}
.ziliao-home {
   background: url("../../img/ziliao/home.png") center center no-repeat;
}
.ziliao-ident {
   background: url("../../img/ziliao/ident.png") center center no-repeat;
}
.ziliao-marry {
   background: url("../../img/ziliao/marry.png") center center no-repeat;
}
.ziliao-name {
   background: url("../../img/ziliao/name.png") center center no-repeat;
}
.ziliao-pingyin {
   background: url("../../img/ziliao/pingyin.png") center center no-repeat;
}
.ziliao-shenxiao {
   background: url("../../img/ziliao/shenxiao.png") center center no-repeat;
}
.ziliao-tel {
   background: url("../../img/ziliao/tel.png") center center no-repeat;
}
#personDataInfoForm .item .row {
  padding: 2px;
}
#personDataInfoForm .item .row .col {
  padding: 2px;
}
#personDataInfoForm .item .row .col .inforadio {
  margin: 0 4px 0 4px;
  height: 24px;
}
#personDataInfoForm .item .row .col .inforadio input[type=radio] {
  display: none;
}
#personDataInfoForm .item .row .col .inforadio .radioicon{
  display: inline-block;
  width: 20px;
  height: 20px;
  vertical-align: middle;
  border: 2px solid #2a923c;
  border-radius: 16px;
  background: url("../../img/isOpenIconBg.svg") center center no-repeat;
}
#personDataInfoForm .item .row .col .inforadio .ion-checkmark-round:before {
  line-height: 18px;
  text-indent: 2px;
  font-size: 14px;
}
#personDataInfoForm .item .row .col input:not([type=radio]) {
  display: inline-block;
  width: 60%;
}
#personDataInfoForm .item .row .col input:not([type=radio].ng-invalid) {
  border: 1px solid red;
}
#personDataInfoForm {
  margin-bottom: 4px;
}
/*填写资料--end*/
