.pwdLeft{
    width: 20%;
    height: 450px;
    background: url("../../img/password/changePwd.png") no-repeat center center ;
    margin-left: 20px;
    float: left;
}
.pwdRight{
    width: 72%;
    height: 450px;
    float: left;
    margin-left: 10px;
}

