.cM{
    border: 1px solid #a9a9a9;
}
.h100P{
    height: 100%;
}


/*.cM div{*/
/*border: 1px solid red;*/
/*}*/
form{
    height: 100%;
}

.conWrap{
    width: 690px;
    height: 420px;
    margin-left: auto;
    margin-right: auto;
}

aside{
    /*background: grey;*/
    position: relative;
}
.line{
    position: absolute;
    top: 20px;
    left:41px;
    width: 8px;
    height: 320px;
    background-color: #2a923c;
}
.circle{
    position: absolute;
    top: 20px;
    left:15px;
    width: 60px;
    height: 60px;
    border-radius: 30px;
    background: #2a923c url("../../img/mailIcon.png") center center no-repeat ;
}
.circle:nth-child(2){
    background: #2a923c url("../../img/barCode.png") center center no-repeat ;
    top:170px
}
.circle:nth-child(3){
    background: #2a923c url("../../img/openMail.png") center center no-repeat ;
    top:330px
}
article{
    position: relative;
    font-size: 22px;
    font-weight: bold;
    /*background: #a9a9a9;*/
}
article .row:nth-child(1){
    cursor: pointer;
}
article .row:nth-child(3){
    cursor: pointer;
    margin-top: 68px;
 }
article .applyBtn{
    position: absolute;
    right: 0;
    margin-top: 15px;
}
article .nextBtn{
    margin-right: 43%;
}
article .nextBtn:active{
    background-color: #ce9d34;
}
.isOpenIcon{
    margin-top: 26px;
    width: 32px;
    height: 32px;
    border: 2px solid #2a923c;
    border-radius: 16px;
    background: url("../../img/isOpenIconBg.svg") center center no-repeat;

}
.ion-checkmark-round:before{
    line-height: 30px;
    font-size: 24px;
    text-indent: 4px;
    color: #00ae1e;

}
.isOpen{
    text-indent: 18px;
    height: 90px;
    line-height: 75px;
}

.barCode{
    margin-top: 57px;
    text-indent: 50px;
    height: 90px;
    line-height: 75px;
    background: url("../../img/barcode2.png") left center no-repeat;
}
.barCode span{
    font-size: 20px;
    color: #00a31c;
    font-weight: normal;
    letter-spacing: 1px;
}

/*.pwMail{*/
    /*margin-top: 69px;*/
    /*text-indent: 50px;*/
    /*height: 90px;*/
    /*line-height: 75px;*/
    /*background: url("../../img/pwMailIcon.png") left center no-repeat;*/
/*}*/

/*ionic extend*/
.col-120px{
    -webkit-box-flex: 0;
    -webkit-flex: 0 0 120px;
    -moz-box-flex: 0;
    -moz-flex: 0 0 120px;
    -ms-flex: 0 0 120;
    flex: 0 0 120px;
    max-width: 120px; }



@font-face{
    font-family:barCodeFont;
    src:url('../../img/fonts/V100020_.TTF') format('truetype');
    font-weight:normal;
    font-style:normal;
}
.barCoad{font-family: barCodeFont;font-size: 45px;}