<ion-tabs class="tabs-icon-top tabs-dark" ng-controller="commonCtrl">
    <ion-tab title="主页" icon="icon ion-home" href="#/tab/home" >
        <ion-nav-view name="tab-home"></ion-nav-view>
    </ion-tab>
    <ion-tab title="借记卡申请" icon="icon ion-card" href="#/tab/apply">
        <ion-nav-view name="tab-apply"></ion-nav-view>
    </ion-tab>
    <!--<ion-tab title="信用卡申请" icon="icon ion-card" href="#/tab/apply"  ng-click="select('apply')">
        <ion-nav-view name="tab-apply"></ion-nav-view>
    </ion-tab>
    <ion-tab title="促销活动" icon="icon ion-android-promotion" href="#/tab/promotion" ng-click="select('promotion')">
        <ion-nav-view name="tab-promotion"></ion-nav-view>
    </ion-tab>
    <ion-tab title="进度查询" icon="icon ion-ios7-search" href="#/tab/query"  ng-click="select('query')">
        <ion-nav-view name="tab-query"></ion-nav-view>
    </ion-tab>-->
    <ion-tab title="审批" icon="icon ion-ios7-cloud-upload" href="#/tab/upload" badge="badges.clientItems" >
        <ion-nav-view name="tab-upload"></ion-nav-view>
    </ion-tab>
    <ion-tab title="设置" icon="icon ion-gear-a" href="#/tab/setting" >
        <ion-nav-view name="tab-setting"></ion-nav-view>
    </ion-tab>
</ion-tabs>

