.containerBig{
    background-color: #f2f2f2;
    height: 600px;
    padding: 10px 10px;
    margin-top: 118px;
}
html, body{ margin:0; height:100%; }

.containerSmall{
    background-color: #ffffff;
    height: 100%;
    padding: 0px 20px;
}

.containerSmall .content{

    margin: 0 auto;
    text-align: center;
    margin-top: 100px;

}
.containerSmall .content .content_text{


    font-size: 20px;color:#1ED479;
    font-family:'微软雅黑';
    font-weight: bold ;
    margin-top: 30px;


}
.okMark {
    width: 170px;
    height: 170px;
    border-radius: 50%;
    border: 12px solid #87E7B7;
     text-align: center;
     background: #00c965;
     margin: 0 auto;
    margin-top: 50px;

}

.okMark .ion-checkmark-round:before {
    color: #FFFFFF;
    text-indent: 10px;
    text-align: center;
    font-size: 120px;
    line-height: 145px;
    font-weight: normal;

}
.button_all{

    width: 500px;
    margin: 0 auto;
    text-align: center;
    margin-top: 120px;


}
.button_detail1{
    color: white;
    margin-top: 10px;
    font-size: 26px;
    font-weight: bold;
    border: 1px solid #636166;
    border-radius: 25px;
    width: 125px;
    height: 50px;
    background-color: #f0b840;
    left: 38px;
    float: left;

}
.button_detail2{
    color: white;
    margin-top: 10px;
    font-size: 26px;
    font-weight: bold;
    border: 1px solid #636166;
    border-radius: 25px;
    width: 125px;
    height: 50px;
    background-color: #f0b840;
    left: 212px;
    float: left;

}


.stepButton{
    height: 90px;
}
.contIonContent{
    padding: 0px 20px;
    margin-top: 85px;
    /*height: 75.5%;*/
    height: 65%;
}
.ionContent{
    padding: 0px 20px;
    margin-top: 85px;
    height: 75.5%;
}
.ContentTitle{
    text-align: center;
    font-size: 18px;
    font-weight: bold;
    color: #498f24;
}
.content-slide{
    margin: 5px 10px;
}
.contractButton{
    margin-left: 77%;
    margin-top: 52%;
}
.sucButton{
    margin-left: 70%;
    width: 80px ;
    height: 30px;
    margin-bottom: 20px;
}
.noButton{
    margin-left:5%;
    width: 80px ;
    height: 30px;
    margin-bottom: 20px;
}
.succStyle{
    color: red;text-align: left;margin-top: 10px;font-size: 20px;
}
